{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Create | Encyclopedia
{% endblock %}

{% block styling %} 

<link href="{% static 'encyclopedia/create_pg_style.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
    <h2>Editing contents of "{{title}}"</h2>

    <form method="post" >
        {% csrf_token %}
        <table>{{editPgForm}}</table>
        
        <input type="submit" value="UPDATE PAGE" id="submitBtn" />
    </form>

{% endblock %}